@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin col-horizontal-style($num, $horizontal-length) {
    width: calc((100% - #{$gutter-horizontal}) / $num);
    float: left;

    &:not(:last-child) {
        margin-right: $horizontal-length;
    }
}

@mixin center-element-abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin center-element {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}