@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin col-horizontal-style($num, $horizontal-length) {
    width: calc((100% - #{$gutter-horizontal}) / $num);
    float: left;

    &:not(:last-child) {
        margin-right: $horizontal-length;
    }
}

@mixin center-element-abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin center-element {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// media query manager
/*
breakpoint value
- phone
- tablet-portrit
- tablet-lanscape
- big-desktop
*/
@mixin responsive($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: $phone-max-width) {
            @content
        }
    }

    @if $breakpoint == tablet-portrit {
        @media (max-width: $tablet-portrit-max-width) {
            @content
        }
    }

    @if $breakpoint == tablet-lanscape {
        @media (max-width: $tablet-lanscape-max-width) {
            @content
        }
    }

    @if $breakpoint == big-desktop {
        @media (min-width: $desktop-max-width) {
            @content
        }
    }
}